* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.about {
	margin: 30px 0;
	text-align: center;
}

body {
	background: #110303;
	color: #fff;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	padding: 20px;
}

.card {
	align-items: center;
	background: rgb(188, 141, 210);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	text-align: center;
	width: 260px;
}


.card a:hover {
	text-decoration: none; 
}

.card a:visited {
	color: #f3f0f6; 
}

.card_img {
	border-radius: 50%;
	display: block;
	height: 150px;  
	margin: 0 auto;
	object-fit: cover;      
	width: 150px;           
}

.card_text {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 14px;
	flex-grow: 1; 
	margin-bottom: 15px;
}

.card_title {
	font-size: 20px;
	margin-bottom: 8px;
}

.cards_container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.contact form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 auto;
	max-width: 400px;
}

.contact input {
	border: none;
	border-radius: 6px;
	font-size: 14px;
	padding: 10px;
}

.contact textarea {
	border: none;
	border-radius: 6px;
	font-size: 14px;
	max-height: 200px;
	min-width: 100%;
	min-height: 200px;
	padding: 10px;
	resize: vertical;    
}

.contact input[type="submit"] {
	background: #8e44ad;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.header {
	margin-bottom: 20px;
	text-align: center;
}

.header h1 {
	font-size: 36px;
}

.header p {
	font-size: 18px;
	font-weight: lighter;
}
